body {
    background-image: url("https://lolstatic-a.akamaihd.net/rso-ui/2.2.6/images/themes/lol/bg.jpg");
    background-color: #cccccc;
}
div{
    color:white;
    font-size: 30px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
 
    border: 2px solid transparent;
    border-image: linear-gradient(to top,#614a1f 0,#463714 5px,#463714 100%) 1 stretch;

}
